body {
	margin: 0;
	padding:  0;
	font-family: Arial, Helvetica, sans-serif;
}

canvas {
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
	padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
	background: #fff;
	border-radius: 6px;
	display: block;
}

@media (max-width: 500px) {
	#game {
		width:100%;
		height:100%;
	}
	.superflue{
		display: none;
	} 
	.min{
		display: block;
	}
	#Game p{
		padding: 0px 0px 0px;
	}
  }
	.min{
		display: none;
	}
#Game div,p {
	text-align: center;
	font-size: 24px;
	font-family: 'Bree Serif', serif;
	padding: 20px;
}

#Game span {
	font-weight: bold;
}
